spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
    username: postgres
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
server:
  port: 8084
